@use "../global/" as global;

.u-pc-hidden {
  @include global.mq("md") {
    display: none;
  }
}

.u-sp-hidden {
  display: none;
  @include global.mq("md") {
    display: block;
  }
}

.u-padding__right{
  @include global.mq("md"){
  padding-right: 0px !important;
  }

  @include global.mq("xl"){
    padding-right: 120px !important;
  }
}