@use "../global/" as global;

.u-pc-hidden {
  @include global.mq("md") {
    display: none;
  }
}

.u-sp-hidden {
  display: none;
  @include global.mq("md") {
    display: block;
  }
}

.u-padding__menu{
  @include global.mq("md"){
  padding-right: 0px !important;
  }

  @include global.mq("xl"){
    padding-right: 120px !important;
    padding-top: 31px;
  }
}

.u-color__white{
  color: #fff;
}

.u-color__bg-white{
  background-color: #fff;
}

.u-title__sub--privacy{
  padding-top: 20px;
  font-size: 10px;

  @include global.mq("md"){
    font-size: 10px;
  }
}

.u-title__main--privacy{
  font-size: 25px;

  @include global.mq("md"){
    font-size: 25px;
  }
}