@use "../global/" as global;

.p-mv {
  background-color: global.$base-color;
  padding-top: 60px;

  @include global.mq("md") {
    padding-top: 90px;
  }
}

.p-mv__inner {
  text-align: right;
  padding-left: 67px;
  max-width: 1440px;
  margin: 0 auto;
}

.p-mv__image {
  position: relative;
  img {
    @include global.mq("ll") {
      max-width: 1080px;
    }
  }
}

.p-mv__description {
  position: absolute;
  top: 26px;
  left: -48px;
  text-align-last: left;

  @include global.mq("ll") {
    top: 84px;
    left: 111px;
  }
}

.p-mv__text-main {
  line-height: 40px;
  font-size: 36px;
  font-family: global.$ff-deco;
  color: global.$text-color-l;

  @media screen and (min-width: 550px) {
    font-size: 60px;
    line-height: 60px;
  }

  @include global.mq("md") {
    font-size: 70px;
    line-height: 70px;
  }
  @include global.mq("ll") {
    font-size: 100px;
    line-height: 100px;
  }
}

.p-mv__text-main--color {
  color: global.$accent-color;
}

.p-mv__text-sub {
  position: absolute;
  bottom: 63px;
  left: -43px;
  padding-top: 15px;
  font-size: 14px;
  color: global.$text-color-l;
  letter-spacing: 0.7px;
  font-weight: 500;

  @media screen and (min-width: 550px) {
    font-size: 18px;
    bottom: 85px;
  }

  @include global.mq("md") {
    font-size: 22px;
    letter-spacing: 1.6px;
    left: calc(-40px + (5px));
    bottom: 85px;
  }

  @include global.mq("ll") {
    font-size: 32px;
    letter-spacing: 1.6px;
    left: 132px;
    bottom: 169px;
  }
}

.p-mv__text-sub__secondary {
  background-color: #159741;
  bottom: 24px;
  color: #fff;
  font-feature-settings: "palt";
  font-size: 14px;
  left: -48px;
  letter-spacing: 1.6px;
  padding-bottom: 6px;
  padding-left: 4px;
  padding-right: 8px;
  padding-top: 4px;
  position: absolute;
  font-weight: 500;

  @media screen and (min-width: 550px) {
    font-size: 18px;
    bottom: 35px;
  }

  @include global.mq("md") {
    font-size: 22px;
    left: -40px;
    letter-spacing: 3.9px;
    bottom: 35px;
  }
  @include global.mq("ll") {
    font-size: 32px;
    padding-bottom: 9px;
    padding-left: 13px;
    padding-right: 21px;
    padding-top: 9px;
    left: 114px;
    letter-spacing: 3.9px;
    bottom: 84px;
  }
}
