*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

ol,
ul,
li {
	list-style: none;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font: inherit;
	margin: 0;
	padding: 0;
}

input,
select,
textarea {
	color: inherit;
	font: inherit;
	vertical-align: top;
}

q {
	quotes: '"' '"';
}

body {
	font-family: "Noto Sans JP", serif;
	font-size: 16px;
	font-weight: 400;
}

.l-header {
	background-color: #2f2f2f;
	padding-bottom: 15px;
	padding-top: 15px;
	position: fixed;
	width: 100%;
	z-index: 500;
}

.l-header__inner {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 16px;
	padding-right: 16px;
}

.l-header__logo img {
	flex-shrink: 0;
	height: 29.397px;
	width: 55px;
}

.l-header__nav {
	color: #fff;
	display: flex;
	flex-direction: row;
	font-family: "Satisfy", serif;
	font-size: 14px;
	gap: 30px;
	letter-spacing: 0.42px;
}

.l-header__nav-list a {
	padding-block: 20px;
}

.c-about {
	display: flex;
	flex-direction: column;
}

.c-about__text {
	padding-left: 9px;
	padding-right: 6px;
	position: relative;
	z-index: 1;
}

.c-about__title {
	color: #333;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 1.2px;
	white-space: nowrap;
}

.c-about__title--color {
	color: #159741;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 1.5px;
	line-height: normal;
}

.c-about__description {
	color: #333;
	font-size: 16px;
	letter-spacing: 0.48px;
	line-height: 1.5;
	min-height: 136px;
	padding-bottom: 32px;
	padding-top: 16px;
	text-align: justify;
}

.c-about__number {
	bottom: -45px;
	color: rgba(255, 255, 255, 0.8);
	font-family: "Satisfy", serif;
	font-size: 180px;
	font-weight: 400;
	height: -moz-fit-content;
	height: fit-content;
	line-height: 1;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	z-index: -1;
}

.c-title {
	position: relative;
	text-align: center;
}

.c-title__sub {
	color: #159741;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.7px;
}

.c-title__main {
	color: #333;
	font-family: "Satisfy", serif;
	font-size: 32px;
	letter-spacing: 1.6px;
	padding-block: 8px;
}

.c-title__border {
	background-color: #159741;
	bottom: 0;
	height: 2px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 50px;
}

.c-menu {
	padding-top: 275px;
	position: relative;
}

.c-menu__image {
	left: 50%;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	z-index: 30;
}

.c-menu__image img {
	max-width: 315px;
}

.c-menu__detail {
	background-color: #f2f2f2;
	padding: 10px;
}

.c-menu__detail-inner {
	border: 1px solid #333;
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding-bottom: 32px;
}

.c-menu__recommend {
	padding-top: 28px;
	position: relative;
	text-align: center;
}

.c-menu__recommend::before {
	background: #159741;
	border: 2px solid #159741;
	content: "";
	flex-shrink: 0;
	height: 97px;
	left: 50%;
	position: absolute;
	top: -11px;
	transform: translateX(-50%);
	width: 211px;
	z-index: 5;
}

.c-menu__recommend-en {
	color: #fff;
	font-family: "Satisfy", serif;
	font-size: 12px;
	letter-spacing: 0.36px;
	position: relative;
	z-index: 10;
}

.c-menu__recommend-ja {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.54px;
	position: relative;
	z-index: 10;
}

.c-menu__detail-name {
	color: #333;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 2.4px;
	line-height: 1.5;
	padding-top: 24px;
	text-align: center;
}

.c-menu__detail-price {
	color: #333;
	text-align: center;
}

.c-menu__detail-yen {
	font-family: "Satisfy", serif;
	font-size: 18px;
	letter-spacing: 1.8px;
}

.c-menu__detail-amount {
	font-family: "Satisfy", serif;
	font-size: 30px;
	letter-spacing: 3px;
}

.c-menu__detail-tax {
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1.2px;
}

.c-menu__detail-nutrition {
	color: #333;
	display: flex;
	flex-direction: row;
	font-size: 14px;
	gap: 10px;
	justify-content: center;
	letter-spacing: 0.42px;
}

.p-mv {
	background-color: #2f2f2f;
	padding-top: 60px;
}

.p-mv__inner {
	margin: 0 auto;
	max-width: 1440px;
	padding-left: 67px;
	text-align: right;
}

.p-mv__image {
	position: relative;
}

.p-mv__description {
	bottom: -20px;
	left: -48px;
	position: absolute;
	-moz-text-align-last: left;
	text-align-last: left;
}

.p-mv__text-main {
	color: #fff;
	font-family: "Satisfy", serif;
	font-size: 36px;
	letter-spacing: 3px;
	line-height: 40px;
}

.p-mv__text-main--color {
	color: #159741;
}

.p-mv__text-sub {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	left: -43px;
	letter-spacing: 0.7px;
	padding-top: 15px;
	position: absolute;
	top: 38px;
}

.p-mv__text-sub__secondary {
	background-color: #159741;
	color: #fff;
	font-feature-settings: "palt";
	font-size: 14px;
	font-weight: 500;
	left: -48px;
	letter-spacing: 1.6px;
	padding-bottom: 6px;
	padding-left: 4px;
	padding-right: 8px;
	padding-top: 4px;
	position: absolute;
	top: 82px;
}

.p-concept {
	background-color: #2f2f2f;
	overflow: hidden;
	padding-bottom: 64px;
	padding-top: 48px;
	position: relative;
}

.p-concept__inner {
	padding-left: 33px;
	padding-right: 32px;
	text-align: center;
}

.p-concept__description {
	color: #fff;
}

.p-concept__title {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.5;
	padding-left: 15px;
}

.p-concept__text__container {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-top: 24px;
	z-index: 10;
}

.p-concept__text {
	font-size: 16px;
	letter-spacing: 0.48px;
	line-height: 1.5;
}

.p-concept__bg {
	bottom: 0;
	display: flex;
	flex-direction: column;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	z-index: 5;
}

.p-concept__bg-text {
	color: rgba(103, 103, 103, 0.3);
	font-family: "Satisfy", serif;
	font-size: 110px;
	font-weight: 400;
	letter-spacing: 3.3px;
	line-height: 88px;
	text-align: right;
}

.p-about {
	background-color: #f2f2f2;
}

.p-about__inner {
	padding-block: 64px;
	padding-inline: 16px;
}

.p-about__content {
	display: flex;
	flex-direction: column;
	gap: 56px;
	margin: 0 auto;
	max-width: 1100px;
	padding-top: 56px;
}

.p-menu {
	background-color: #2f2f2f;
	padding-block: 24px;
	padding-inline: 16px;
}

.p-menu__inner {
	border: 1px solid #fff;
	padding-block: 32px;
	padding-left: 22px;
	padding-right: 21px;
}

.p-menu__nutrition {
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: center;
	padding-block: 48px;
}

.p-menu__nutrition-pfc {
	color: #fff;
	font-weight: 500;
	letter-spacing: 0.48px;
}

.p-menu__container {
	display: grid;
	gap: 48px;
	grid-template-columns: 1fr;
}

.p-menu__insta {
	margin-top: 48px;
}

.p-menu__insta-inner {
	padding-inline: 10px;
}

.p-menu__insta-top {
	position: relative;
}

.p-menu__insta-top::after {
	background-color: #159741;
	content: "";
	flex-shrink: 0;
	height: 50px;
	left: 50%;
	position: absolute;
	top: -11px;
	transform: translateX(-50%);
	width: 185px;
	z-index: 5;
}

.p-menu__insta-text {
	color: #fff;
	font-family: "Satisfy", serif;
	font-size: 24px;
	letter-spacing: 1.2px;
	position: relative;
	text-align: center;
	z-index: 10;
}

.p-menu__insta-description {
	color: #333;
	letter-spacing: 0.8px;
	padding-block: 24px;
	text-align: justify;
}

.p-menu__insta-image {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(2, 1fr);
}

.p-menu__insta-ID {
	color: #333;
	line-height: normal;
	text-align: center;
}

.p-menu__insta-link {
	border: 1px solid #333;
	padding-bottom: 17px;
	padding-top: 16px;
	text-align: center;
}

.p-menu__insta-link-text {
	color: #333;
	font-weight: 700;
	letter-spacing: 0.48px;
	padding-right: 22px;
	position: relative;
}

.p-menu__insta-link-text::after {
	content: "\f08e";
	font-family: "Font Awesome 6 Free";
	font-weight: 600;
	position: absolute;
	right: 22px;
	top: 50%;
	transform: translateY(-50%);
}

.u-inner {
	padding-inline: 16px;
}

.u-sp-hidden {
	display: none;
}

.u-color__white {
	color: #fff;
}

.u-color__bg-white {
	background-color: #fff;
}

@media screen and (min-width: 750px) {

.l-header {
	padding-bottom: 12px;
}

.l-header__inner {
	margin: 0 auto;
	max-width: 1440px;
	padding-left: 33px;
	padding-right: 71px;
}

.l-header__logo img {
	flex-shrink: 0;
	height: 63px;
	width: 117.871px;
}

.l-header__nav {
	font-size: 18px;
	gap: 56px;
}

.c-about {
	align-items: center;
	flex-direction: row-reverse;
	gap: 46px;
	justify-content: center;
}

.c-about__reverse {
	flex-direction: row;
}

.c-about__text {
	padding-left: 0;
	padding-right: 89px;
	padding-top: 17px;
}

.c-about__text--reverse {
	padding-left: 0;
	padding-right: 0;
}

.c-about__title {
	font-size: 30px;
	letter-spacing: 1.5px;
}

.c-about__description {
	font-size: 18px;
	letter-spacing: 0.54px;
	max-width: 400px;
	padding-bottom: 0;
	padding-top: 23px;
}

.c-about__number {
	bottom: -70px;
	font-size: 288px;
	letter-spacing: 10.3px;
	right: 21px;
}

.c-about__image img {
	max-width: 450px;
	width: 100%;
}

.c-title__sub {
	font-size: 18px;
	letter-spacing: 0.9px;
}

.c-title__main {
	font-size: 48px;
	letter-spacing: 2.4px;
	padding-block: 10px;
}

.c-menu__detail {
	max-width: 592px;
}

.p-mv {
	padding-top: 90px;
}

.p-mv__description {
	bottom: -35px;
	left: -40px;
}

.p-mv__text-main {
	font-size: 70px;
	line-height: 70px;
}

.p-mv__text-sub {
	font-size: 22px;
	left: -35px;
	letter-spacing: 1.6px;
	top: 80px;
}

.p-mv__text-sub__secondary {
	font-size: 22px;
	left: -40px;
	letter-spacing: 3.9px;
	top: 145px;
}

.p-concept {
	padding-bottom: 110px;
	padding-top: 120px;
}

.p-concept__title {
	font-size: 30px;
	letter-spacing: 1.5px;
	padding-left: 0;
}

.p-concept__text__container {
	gap: 27px;
	padding-top: 48px;
}

.p-concept__text {
	font-size: 18px;
	letter-spacing: 0.54px;
}

.p-concept__bg {
	flex-direction: row;
	gap: 120px;
	top: 27px;
}

.p-concept__bg-text {
	font-size: 280px;
	line-height: 2.8;
}

.p-about__inner {
	padding-bottom: 150px;
	padding-top: 130px;
}

.p-about__content {
	gap: 64px;
	padding-top: 80px;
}

.u-pc-hidden {
	display: none;
}

.u-sp-hidden {
	display: block;
}

.u-padding__right {
	padding-right: 0px !important;
}

}

@media screen and (min-width: 1000px) {

.c-about {
	gap: 70px;
}

.c-about__text {
	padding-right: 163px;
}

.c-about__text--reverse {
	padding-left: 0;
	padding-right: 124px;
}

.u-padding__right {
	padding-right: 120px !important;
}

}

@media screen and (min-width: 1300px) {

.p-mv__image img {
	max-width: 1080px;
}

.p-mv__description {
	bottom: -65px;
	left: -175px;
}

.p-mv__text-main {
	font-size: 100px;
	line-height: 100px;
}

.p-mv__text-sub {
	font-size: 32px;
	left: -161px;
	letter-spacing: 1.6px;
	top: 108px;
}

.p-mv__text-sub__secondary {
	font-size: 32px;
	left: -179px;
	letter-spacing: 3.9px;
	padding-bottom: 9px;
	padding-left: 13px;
	padding-right: 21px;
	padding-top: 9px;
	top: 190px;
}

}

@media screen and (max-width: 374px) {

.c-about__title {
	font-size: 18px;
}

.c-about__description {
	font-size: 13px;
}

}

