*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

ol {
	list-style: decimal;
}

ul,
li {
	list-style: none;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font: inherit;
	margin: 0;
	padding: 0;
}

input,
select,
textarea {
	color: inherit;
	font: inherit;
	vertical-align: top;
}

q {
	quotes: '"' '"';
}

body {
	color: #333;
	font-family: "Noto Sans JP", serif;
	font-size: 16px;
	font-weight: 400;
}

.fade-in-up {
	opacity: 0;
	transform: translateY(24px);
	transition: opacity 1s, transform 1s;
}

.fade-in-up.is-in-view {
	opacity: 1;
	transform: translateY(0);
}

.slide-left {
	transform: translateX(calc(-50vw - 50%));
}

.slide-right {
	transform: translateX(calc(50vw + 50%));
}

.slide-in {
	transition: 1s;
}

.show {
	transform: translateX(0);
}

.l-header {
	background-color: #2f2f2f;
	padding-bottom: 15px;
	padding-top: 15px;
	position: fixed;
	width: 100%;
	z-index: 500;
}

.l-header__inner {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 16px;
	padding-right: 16px;
}

.l-header__logo img {
	flex-shrink: 0;
	height: 29.397px;
	width: 55px;
}

.l-header__nav {
	color: #fff;
	display: flex;
	flex-direction: row;
	font-family: "reross-quadratic", sans-serif;
	font-size: 14px;
	gap: 20px;
	letter-spacing: 0.42px;
}

.l-header__nav-list:hover {
	-webkit-text-decoration: underline #159741;
	text-decoration: underline #159741;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
}

.l-header__nav-list a {
	padding-block: 20px;
}

.l-footer {
	background: #f2f2f2;
	padding-bottom: 10px;
	padding-top: 48px;
	position: relative;
}

.l-footer__pagetop {
	position: absolute;
	right: 16px;
	top: -35px;
}

.l-footer__pagetop img {
	flex-shrink: 0;
	height: 70px;
	width: 70px;
}

.l-footer__inner {
	text-align: center;
}

.l-footer__sns {
	display: flex;
	flex-direction: row;
	gap: 40px;
	justify-content: center;
}

.l-footer__nav-lists {
	color: #333;
	display: flex;
	flex-direction: row;
	font-family: "reross-quadratic", sans-serif;
	gap: 32px;
	justify-content: center;
	letter-spacing: 0.48px;
	padding-top: 38px;
}

.l-footer__nav-list:hover {
	-webkit-text-decoration: underline #159741;
	text-decoration: underline #159741;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
}

.l-footer__logo {
	padding-bottom: 24px;
	padding-top: 34px;
}

.fa-brands {
	align-items: center;
	background-color: #2f2f2f;
	border: 1px solid #2f2f2f;
	border-radius: 50%;
	color: #fff;
	display: flex;
	flex-shrink: 0;
	font-size: 29px;
	height: 50px;
	justify-content: center;
	transition: all 0.3s ease;
	width: 50px;
}

.fa-brands:hover {
	background-color: #fff;
	color: #2f2f2f;
}

.l-footer__copyright {
	font-size: 12px;
	letter-spacing: 0.36px;
}

.c-about {
	display: flex;
	flex-direction: column;
}

.c-about__text {
	padding-left: 9px;
	padding-right: 6px;
	position: relative;
	z-index: 1;
}

.c-about__title {
	color: #333;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 1.2px;
	white-space: nowrap;
}

.c-about__title--color {
	color: #159741;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 1.5px;
	line-height: normal;
}

.c-about__description {
	color: #333;
	font-size: 16px;
	letter-spacing: 0.48px;
	line-height: 1.5;
	min-height: 136px;
	padding-bottom: 32px;
	padding-top: 16px;
	text-align: justify;
}

.c-about__number {
	bottom: -23px;
	color: rgba(255, 255, 255, 0.8);
	font-family: "reross-quadratic", sans-serif;
	font-size: 180px;
	font-weight: 400;
	height: -moz-fit-content;
	height: fit-content;
	line-height: 1;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	z-index: -1;
}

.c-title {
	position: relative;
	text-align: center;
}

.c-title__sub {
	color: #159741;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.7px;
}

.c-title__main {
	color: #333;
	font-family: "reross-quadratic", sans-serif;
	font-size: 32px;
	letter-spacing: 1.6px;
	padding-bottom: 13px;
	padding-top: 8px;
}

.c-title__border {
	background-color: #159741;
	bottom: 0;
	height: 2px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 50px;
}

.c-menu {
	padding-top: 271px;
	position: relative;
}

.c-menu__secondary {
	padding-top: 260px;
}

.c-menu__third {
	margin-left: 2px;
	margin-right: -4px;
	padding-top: 256px;
}

.c-menu__image {
	left: 50%;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	z-index: 30;
}

.c-menu__image img {
	margin-right: 14px;
	max-width: 315px;
}

.c-menu__image--secondary img {
	max-width: 305px;
}

.c-menu__image--third img {
	margin-right: 2px;
	max-width: 308px;
}

.c-menu__detail {
	background-color: #f2f2f2;
	padding: 10px;
}

.c-menu__detail-inner {
	border: 1px solid #333;
	padding-bottom: 32px;
}

.c-menu__recommend {
	padding-top: 28px;
	position: relative;
	text-align: center;
}

.c-menu__recommend::before {
	background: #159741;
	border: 2px solid #159741;
	content: "";
	flex-shrink: 0;
	height: 97px;
	left: 50%;
	position: absolute;
	top: -11px;
	transform: translateX(-50%);
	width: 211px;
	z-index: 5;
}

.c-menu__recommend-en {
	color: #fff;
	font-family: "reross-quadratic", sans-serif;
	font-size: 12px;
	letter-spacing: 0.36px;
	position: relative;
	z-index: 10;
}

.c-menu__recommend-ja {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.54px;
	position: relative;
	z-index: 10;
}

.c-menu__detail-name {
	color: #333;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 2.4px;
	line-height: 1.5;
	padding-top: 39px;
	text-align: center;
}

.c-menu__detail-name--secondary {
	padding-top: 47px;
}

.c-menu__detail-name--third {
	padding-top: 45px;
}

.c-menu__detail-price {
	align-items: center;
	color: #333;
	display: flex;
	flex-direction: row;
	gap: 3px;
	justify-content: center;
	padding-top: 13px;
}

.c-menu__detail-price--secondary {
	padding-top: 11px;
}

.c-menu__detail-name--third {
	padding-top: 40px;
}

.c-menu__detail-yen {
	font-family: "reross-quadratic", sans-serif;
	font-size: 18px;
	letter-spacing: 1.8px;
	margin-left: -4px;
	padding-top: 8px;
}

.c-menu__detail-amount {
	font-family: "reross-quadratic", sans-serif;
	font-size: 30px;
	letter-spacing: 3px;
}

.c-menu__detail-tax {
	font-feature-settings: "palt";
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1.2px;
	margin-left: -5px;
	padding-top: 7px;
}

.c-menu__detail-nutrition {
	color: #333;
	display: flex;
	flex-direction: row;
	font-size: 14px;
	gap: 11px;
	justify-content: center;
	letter-spacing: 0.42px;
	padding-top: 17px;
}

.c-bg-parallax {
	height: 250px;
	overflow: hidden;
	width: 100%;
}

.c-bg-parallax img {
	-o-object-fit: cover;
	object-fit: cover;
	transform-origin: center;
	-o-object-position: -9px -34px;
	object-position: -9px -34px;
	transform: scale(1.26);
	transition: transform 0.3s ease;
}

.c-bg-parallax img:hover {
	transform: scale(1.1);
}

.c-bg-parallax__secondary {
	height: 250px;
	overflow: hidden;
	width: 100%;
}

.c-bg-parallax__secondary img {
	-o-object-fit: cover;
	object-fit: cover;
	transform-origin: center;
	-o-object-position: -2px 2px;
	object-position: -2px 2px;
	transform: scale(1.03);
	transition: transform 0.3s ease;
}

.c-bg-parallax__secondary img:hover {
	transform: scale(1.1);
}

.p-mv {
	background-color: #2f2f2f;
	padding-top: 60px;
}

.p-mv__inner {
	margin: 0 auto;
	max-width: 1440px;
	padding-left: 67px;
	text-align: right;
}

.p-mv__image {
	position: relative;
}

.p-mv__description {
	left: -48px;
	position: absolute;
	top: 26px;
	-moz-text-align-last: left;
	text-align-last: left;
}

.p-mv__text-main {
	color: #fff;
	font-family: "reross-quadratic", sans-serif;
	font-size: 36px;
	line-height: 40px;
}

.p-mv__text-main--color {
	color: #159741;
}

.p-mv__text-sub {
	bottom: 63px;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	left: -43px;
	letter-spacing: 0.7px;
	padding-top: 15px;
	position: absolute;
}

.p-mv__text-sub__secondary {
	background-color: #159741;
	bottom: 24px;
	color: #fff;
	font-feature-settings: "palt";
	font-size: 14px;
	font-weight: 500;
	left: -48px;
	letter-spacing: 1.6px;
	padding-bottom: 6px;
	padding-left: 4px;
	padding-right: 8px;
	padding-top: 4px;
	position: absolute;
}

.p-concept {
	background-color: #2f2f2f;
	overflow: hidden;
	padding-bottom: 64px;
	padding-top: 48px;
	position: relative;
}

.p-concept__inner {
	padding-left: 33px;
	padding-right: 32px;
	text-align: center;
}

.p-concept__description {
	color: #fff;
}

.p-concept__title {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.5;
	padding-left: 15px;
}

.p-concept__text__container {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-top: 24px;
	z-index: 10;
}

.p-concept__text {
	font-size: 16px;
	letter-spacing: 0.48px;
	line-height: 1.5;
}

.p-concept__bg {
	bottom: 0;
	display: flex;
	flex-direction: column;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	z-index: 5;
}

.p-concept__bg-text {
	color: rgba(103, 103, 103, 0.3);
	font-family: "reross-quadratic", sans-serif;
	font-size: 110px;
	font-weight: 400;
	letter-spacing: 3.3px;
	line-height: 88px;
	text-align: right;
}

.p-about {
	background-color: #f2f2f2;
	overflow: hidden;
}

.p-about__inner {
	padding-block: 64px;
	padding-inline: 16px;
}

.p-about__content {
	display: flex;
	flex-direction: column;
	gap: 56px;
	margin: 0 auto;
	max-width: 1100px;
	padding-top: 56px;
}

.p-menu {
	background-color: #2f2f2f;
	padding-block: 24px;
	padding-inline: 16px;
}

.p-menu__inner {
	border: 1px solid #fff;
	padding-bottom: 30px;
	padding-left: 22px;
	padding-right: 21px;
	padding-top: 32px;
}

.p-menu__nutrition {
	display: flex;
	flex-direction: row;
	gap: 16px;
	justify-content: center;
	padding-block: 47px;
}

.p-menu__nutrition-pfc {
	color: #fff;
	font-weight: 500;
	letter-spacing: 0.48px;
}

.p-menu__container--secondary {
	display: flex;
	flex-direction: column;
	gap: 48px;
	padding-top: 48px;
}

.p-menu__insta {
	margin-left: 2px;
	margin-right: -4px;
	margin-top: 49px;
}

.p-menu__insta-inner {
	border: 1px solid #333;
	padding-bottom: 23px;
	padding-inline: 10px;
}

.p-menu__insta-top {
	position: relative;
}

.p-menu__insta-top::after {
	background-color: #159741;
	content: "";
	flex-shrink: 0;
	height: 50px;
	left: 50%;
	position: absolute;
	top: -8px;
	transform: translateX(-50%);
	width: 185px;
	z-index: 5;
}

.p-menu__insta-text {
	color: #fff;
	font-family: "reross-quadratic", sans-serif;
	font-size: 24px;
	letter-spacing: 1.2px;
	margin-top: -3px;
	position: relative;
	text-align: center;
	z-index: 10;
}

.p-menu__insta-description-text {
	position: relative;
}

.p-menu__insta-description {
	color: #333;
	font-size: 16px;
	letter-spacing: 0.8px;
	padding-bottom: 24px;
	padding-inline: 11px;
	padding-top: 34px;
	text-align: justify;
}

.p-menu__insta-image {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
}

.p-menu__insta-ID {
	color: #333;
	font-size: 16px;
	line-height: normal;
	padding-right: 7px;
	padding-top: 8px;
	text-align: center;
}

.p-menu__insta-link {
	text-align: center;
}

.p-menu__insta-link-text {
	border: 1px solid #333;
	color: #333;
	font-weight: 700;
	letter-spacing: 0.48px;
	margin-top: 24px;
	padding-bottom: 15px;
	padding-right: 22px;
	padding-top: 15px;
	position: relative;
	transition: all 0.3s ease;
}

.p-menu__insta-link-text:hover {
	background: #333;
	color: #fff;
}

.p-menu__insta-link-text::after {
	content: "\f08e";
	font-family: "Font Awesome 6 Free";
	font-weight: 600;
	position: absolute;
	right: 17px;
	top: 50%;
	transform: translateY(-50%);
}

.p-shop {
	background: #f2f2f2;
	padding-block: 64px;
}

.p-shop__map-image {
	text-align: center;
}

.p-shop__map-image img {
	padding-top: 56px;
}

.p-shop__description {
	padding-inline: 16px;
}

.p-shop__description-container {
	padding-bottom: 7px;
}

.p-shop__name-container {
	padding-top: 53px;
	text-align: center;
}

.p-shop__name-head {
	color: #333;
	display: inline;
	font-family: "reross-quadratic", sans-serif;
	font-size: 18px;
	line-height: 1;
}

.p-shop__name-body {
	color: #333;
	display: inline;
	font-family: "reross-quadratic", sans-serif;
	font-size: 32px;
	letter-spacing: 0.96px;
	line-height: 1;
	padding-left: 1px;
}

.p-shop__name-jp {
	color: #333;
	letter-spacing: 0.48px;
	padding-top: 2px;
}

.p-shop__address {
	color: #333;
	letter-spacing: 0.48px;
	line-height: 1.7;
	padding-inline: 12px;
	padding-top: 24px;
}

.p-shop__info {
	color: #333;
	letter-spacing: 0.48px;
	line-height: 1.6;
	padding-inline: 10px;
	padding-top: 2px;
}

.p-shop__info th {
	text-align: left;
	white-space: nowrap;
}

.p-shop__info td {
	padding-left: 14px;
}

.p-shop__description-image {
	overflow: hidden;
	padding-top: 32px;
	text-align: center;
}

.p-shop__description-image img {
	flex-shrink: 0;
	height: 298px;
}

.p-shop__card-inner {
	background: #fff;
	box-shadow: 0px 4px 20px 0px rgba(161, 159, 159, 0.6);
	margin-inline: 16px;
	margin-top: 98px;
	padding: 18px 10px 7px;
}

.p-shop__card-container {
	position: relative;
}

.p-shop__card-stamp img {
	flex-shrink: 0;
	height: 93px;
	left: -26px;
	position: absolute;
	top: -56px;
	width: 112px;
}

.p-shop__card-image {
	text-align: center;
}

.p-shop__card-description {
	padding-bottom: 107px;
	position: relative;
}

.p-shop__card-dear {
	color: #333;
	font-family: "Satisfy", serif;
	font-size: 30px;
	left: 14px;
	letter-spacing: 1.5px;
	position: absolute;
	top: -43px;
}

.p-shop__card-description-text {
	background-image: linear-gradient(180deg, transparent 0%, transparent 98.5%, #000 100%);
	background-repeat: repeat-y;
	background-size: 100% 2.5em;
	color: #4f4f4f;
	line-height: 2.5;
	margin-top: 64px;
	padding-left: 14px;
}

.p-shop__card-have-nice img {
	bottom: 27px;
	position: absolute;
	right: -22px;
}

.p-contact {
	background: url(..//img/bg-vesitable.png) no-repeat center center/cover;
	padding: 64px 16px;
}

.p-contact__inner {
	background: #f2f2f2;
	padding-bottom: 64px;
	padding-left: 16px;
	padding-right: 15px;
	padding-top: 64px;
}

.p-contact__top-text {
	color: #333;
	letter-spacing: 0.48px;
	margin-inline: auto;
	max-inline-size: -moz-max-content;
	max-inline-size: max-content;
	padding-top: 47px;
}

.p-contact__form {
	padding-top: 29px;
}

.p-contact-control + .p-contact-control {
	padding-top: 32px;
}

.p-contact-control__head {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.p-contact__form-label {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.p-contact-control__input {
	margin-top: 6px;
}

.p-contact-control__input input {
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 13px;
	padding-top: 14px;
	width: 100%;
}

.p-contact-control__input textarea {
	padding-block: 10px;
	padding-left: 15px;
	padding-right: 13px;
	resize: vertical;
	width: 100%;
}

.p-contact-control__input textarea {
	height: 160px;
}

.p-contact-control__input ::-moz-placeholder {
	color: #bdbdbd;
}

.p-contact-control__input ::placeholder {
	color: #bdbdbd;
}

input,
textarea {
	background: #fff;
	border: 1px solid #4f4f4f;
	transition: all 0.3s ease;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
	border: 1px solid #159741;
	box-shadow: 0px 0px 4px 0px #159741;
	outline: none;
}

.p-contact-control__head-required {
	background: #159741;
	border-radius: 6px;
	color: #fff;
	font-size: 12px;
	line-height: 12px;
	padding: 5px 7px 5px 8px;
}

.p-contact__privacy {
	text-align: center;
}

.p-contact__footer {
	padding-top: 35px;
}

.p-contact__checkbox-text {
	padding-left: 31px;
	position: relative;
	width: -moz-fit-content;
	width: fit-content;
}

.p-contact__checkbox-text::after {
	background: #fff;
	border: 1px solid #2f2f2f;
	content: "";
	flex-shrink: 0;
	height: 30px;
	left: -10px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s ease;
	width: 30px;
}

.p-contact__checkbox-text:hover::after {
	border: 1px solid #159741;
	box-shadow: 0px 0px 4px 0px #159741;
}

.p-contact__form-checkbox {
	height: 1px;
	width: 1px;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

.p-contact__checkbox-text {
	letter-spacing: 0.8px;
	line-height: 1.5;
}

.p-contact__form-checkbox:checked ~ .p-contact__checkbox-text .p-contact__privacy-check {
	opacity: 1;
}

.p-contact__form-checkbox:checked ~ .p-contact__checkbox-text::after {
	background: rgba(21, 151, 65, 0.15);
	border: 1px solid #159741;
	box-shadow: 0px 0px 4px 0px #159741;
}

.p-contact__checkbox-text--privacy {
	color: #159741;
	letter-spacing: 0.8px;
	line-height: 1.5;
	-webkit-text-decoration: underline #159741;
	position: relative;
	text-decoration: underline #159741;
	text-underline-offset: 2px;
	transition: opacity 0.3s ease;
}

.p-contact__checkbox-text--privacy:hover {
	opacity: 0.7;
}

.p-contact__privacy-check {
	left: -8px;
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
}

.p-contact__submit {
	align-items: center;
	background-color: #159741;
	display: flex;
	height: 56px;
	justify-content: center;
	margin-inline: 6px;
	margin-top: 43px;
	transition: opacity 0.3s ease;
}

.p-contact__submit:hover {
	opacity: 0.7;
}

.p-contact__submit-button {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.9px;
	line-height: 1.5;
}

dialog {
	padding: 0;
}

dialog ol li {
	list-style: decimal;
	margin-inline: 20px;
}

.p-modal {
	background: #fff;
	border: none;
	height: calc(100vh - 200px);
	inset: 0;
	margin: auto;
	max-width: calc(100% - 34px);
	overflow: auto;
	position: fixed;
	z-index: 100;
}

.p-modal::backdrop {
	background: #000;
	opacity: 0.5;
}

.p-modal__head {
	background: #fff;
	min-width: calc(100% - 34px);
	padding-bottom: 20px;
	position: relative;
	position: fixed;
}

.p-modal__close-icon {
	height: 30px;
	position: relative;
	right: 0;
	top: 0;
	width: 30px;
	z-index: 101;
}

.p-modal__close-icon-bar {
	background-color: #333;
	height: 1px;
	left: 0;
	position: absolute;
	width: 30px;
	z-index: 101;
}

.p-modal__close-icon-bar:nth-of-type(1) {
	transform: rotate(45deg);
}

.p-modal__close-icon-bar:nth-of-type(2) {
	transform: rotate(-45deg);
}

.p-modal__body {
	font-size: 14px;
	overflow: scroll;
	padding: 20px;
	padding-top: 120px;
}

.p-modal__body-title {
	font-weight: 700;
	padding-top: 15px;
}

.js-modal-close {
	position: absolute;
	right: 15px;
	top: 15px;
}

.p-modal__body-end {
	display: flex;
	justify-content: end;
}

.u-inner {
	padding-inline: 16px;
}

.u-sp-hidden {
	display: none;
}

.u-color__white {
	color: #fff;
}

.u-color__bg-white {
	background-color: #fff;
}

.u-title__sub--privacy {
	font-size: 10px;
	padding-top: 20px;
}

.u-title__main--privacy {
	font-size: 25px;
}

@media screen and (min-width: 500px) {

.c-bg-parallax img {
	-o-object-position: -9px -110px;
	object-position: -9px -110px;
}

}

@media screen and (min-width: 550px) {

.p-mv__text-main {
	font-size: 60px;
	line-height: 60px;
}

.p-mv__text-sub {
	bottom: 85px;
	font-size: 18px;
}

.p-mv__text-sub__secondary {
	bottom: 35px;
	font-size: 18px;
}

}

@media screen and (min-width: 645px) {

.c-bg-parallax img {
	-o-object-position: -9px -180px;
	object-position: -9px -180px;
	transform: scale(1.1);
}

.c-bg-parallax__secondary img {
	-o-object-position: -9px -45px;
	object-position: -9px -45px;
}

}

@media screen and (min-width: 750px) {

.l-header {
	padding-bottom: 12px;
}

.l-header__inner {
	margin: 0 auto;
	max-width: 1440px;
	padding-left: 33px;
	padding-right: 71px;
}

.l-header__logo img {
	flex-shrink: 0;
	height: 63px;
	width: 117.871px;
}

.l-header__nav {
	font-size: 18px;
	gap: 41px;
}

.l-footer {
	padding-top: 56px;
}

.l-footer__pagetop {
	right: 60px;
	top: -60px;
}

.l-footer__pagetop img {
	flex-shrink: 0;
	height: 120px;
	width: 120px;
}

.l-footer__nav-lists {
	font-size: 18px;
	gap: 40px;
	letter-spacing: 0.54px;
}

.l-footer__logo {
	padding-bottom: 14px;
	padding-top: 37px;
}

.fa-brands {
	font-size: 23px;
	height: 40px;
	width: 40px;
}

.c-about {
	align-items: center;
	flex-direction: row-reverse;
	gap: 46px;
	justify-content: center;
}

.c-about__reverse {
	flex-direction: row;
}

.c-about__text {
	padding-left: 0;
	padding-right: 89px;
	padding-top: 17px;
}

.c-about__text--reverse {
	padding-left: 0;
	padding-right: 0;
}

.c-about__title {
	font-size: 30px;
	letter-spacing: 1.5px;
}

.c-about__description {
	font-size: 18px;
	letter-spacing: 0.54px;
	max-width: 400px;
	padding-bottom: 0;
	padding-top: 23px;
}

.c-about__number {
	bottom: -70px;
	font-size: 288px;
	letter-spacing: 10.3px;
	right: 21px;
}

.c-about__image img {
	max-width: 450px;
	width: 100%;
}

.c-title__sub {
	font-size: 18px;
	letter-spacing: 0.9px;
}

.c-title__main {
	font-size: 48px;
	letter-spacing: 2.4px;
	padding-bottom: 17px;
	padding-top: 9px;
}

.c-menu {
	padding-top: 0;
}

.c-menu__third {
	margin-left: 0;
	margin-right: 0;
}

.c-menu__image {
	top: -287px;
}

.c-menu__image--secondary {
	top: -275px;
}

.c-menu__image--secondary img {
	max-width: 330px;
}

.c-menu__image--third {
	left: 46%;
	top: -359px;
}

.c-menu__image--third img {
	max-width: 425px;
}

.c-menu__image--first {
	left: -320px;
	top: 50%;
	transform: translateY(-50%);
}

.c-menu__image--first img {
	max-width: 360px;
}

.c-menu__detail {
	max-width: 594px;
	padding: 14px;
}

.c-menu__detail-inner {
	padding-left: 5px;
	padding-right: 5px;
}

.c-menu__recommend {
	margin-top: -6px;
	padding-top: 0;
}

.c-menu__recommend::before {
	flex-shrink: 0;
	height: 78px;
	width: 251px;
}

.c-menu__recommend-en {
	font-size: 14px;
}

.c-menu__recommend-ja {
	font-size: 24px;
	letter-spacing: 0.72px;
}

.c-menu__detail-name {
	font-size: 25px;
	letter-spacing: 3px;
	padding-top: 49px;
}

.c-menu__detail-name--secondary {
	padding-top: 57px;
}

.c-menu__detail-name--third {
	padding-top: 60px;
}

.c-menu__detail-price {
	gap: 5px;
	padding-top: 12px;
}

.c-bg-parallax {
	height: 450px;
}

.c-bg-parallax img {
	-o-object-position: 7px -120px;
	object-position: 7px -120px;
	transform: scale(1.03, 1);
}

.c-bg-parallax__secondary {
	height: 450px;
}

.p-mv {
	padding-top: 90px;
}

.p-mv__text-main {
	font-size: 70px;
	line-height: 70px;
}

.p-mv__text-sub {
	bottom: 85px;
	font-size: 22px;
	left: -35px;
	letter-spacing: 1.6px;
}

.p-mv__text-sub__secondary {
	bottom: 35px;
	font-size: 22px;
	left: -40px;
	letter-spacing: 3.9px;
}

.p-concept {
	padding-bottom: 110px;
	padding-top: 120px;
}

.p-concept__title {
	font-size: 30px;
	letter-spacing: 1.5px;
	padding-left: 0;
}

.p-concept__text__container {
	gap: 27px;
	padding-top: 48px;
}

.p-concept__text {
	font-size: 18px;
	letter-spacing: 0.54px;
}

.p-concept__bg {
	flex-direction: row;
	gap: 120px;
	top: 27px;
}

.p-concept__bg-text {
	font-size: 280px;
	line-height: 2.8;
}

.p-about__inner {
	padding-bottom: 150px;
	padding-top: 130px;
}

.p-about__content {
	gap: 64px;
	padding-top: 80px;
}

.p-menu {
	padding-block: 30px;
	padding-inline: 30px;
}

.p-menu__inner {
	padding-bottom: 97px;
	padding-top: 80px;
}

.p-menu__nutrition {
	font-size: 18px;
	gap: 19px;
	letter-spacing: 0.54px;
	padding-block: 32px;
}

.p-menu__container {
	margin: 0 auto;
	max-width: 1080px;
	padding-left: 320px;
}

.p-menu__container--secondary {
	flex-direction: row;
	justify-content: center;
	padding-top: 313px;
}

.p-menu__insta {
	margin: 0 auto;
	margin-top: 77px;
	max-width: 1080px;
}

.p-menu__insta-inner {
	padding-left: 5px;
	padding-right: 5px;
}

.p-menu__insta-top::after {
	flex-shrink: 0;
	height: 73px;
	left: 49%;
	top: -13px;
	width: 360px;
}

.p-menu__insta-text {
	font-size: 30px;
	letter-spacing: 1.5px;
}

.p-menu__insta-description-text {
	padding-inline: 41px;
	width: -moz-fit-content;
	width: fit-content;
}

.p-menu__insta-description-text::after {
	background-color: #333;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transform: rotate(55deg);
	width: 35px;
}

.p-menu__insta-description-text::before {
	background-color: #333;
	content: "";
	height: 1px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	transform: rotate(-55deg);
	width: 35px;
}

.p-menu__insta-description {
	display: flex;
	font-size: 18px;
	justify-content: center;
	padding-bottom: 35px;
	padding-top: 50px;
}

.p-menu__insta-image {
	display: flex;
	flex-direction: row;
	gap: 18px;
	overflow: scroll;
}

.p-menu__insta-image img {
	flex-shrink: 0;
	height: 231px;
	width: 231px;
}

.p-menu__insta-ID {
	font-size: 18px;
	padding-bottom: 25px;
}

.p-menu__insta-link-text::after {
	right: 34px;
}

.p-menu__insta-link-text {
	margin: 0 auto;
	max-width: 300px;
}

.p-shop {
	padding-block: 120px;
}

.p-shop__map-image img {
	padding-top: 80px;
}

.p-shop__description {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1440px;
	padding-left: 30px;
	padding-right: 0;
	padding-top: 80px;
}

.p-shop__name-container {
	padding-top: 0;
	text-align: left;
}

.p-shop__name-head {
	padding-left: 3px;
}

.p-shop__name-body {
	letter-spacing: 0.96px;
	line-height: 28px;
}

.p-shop__address {
	padding-left: 3px;
	padding-top: 26px;
}

.p-shop__info td {
	padding-left: 17px;
}

.p-shop__info {
	padding-left: 0;
	padding-right: 10px;
}

.p-shop__info tr:nth-child(3) td:last-child {
	line-height: 1.55;
}

.p-shop__info-access {
	line-height: 1.2;
}

.p-shop__description-image img {
	height: auto;
	max-width: 700px;
	width: 48.6111111111vw;
}

.p-shop__description-image {
	padding-top: 0;
}

.p-shop__card {
	padding-inline: 20px;
}

.p-shop__card-inner {
	margin: 80px auto 0;
	max-width: 1146px;
	padding: 30px 32px 41px 34px;
}

.p-shop__card-stamp img {
	height: 170px;
	left: -55px;
	width: 200px;
}

.p-shop__card-image {
	display: flex;
}

.p-shop__card-description {
	padding-bottom: 0;
	padding-left: 9px;
}

.p-shop__card-dear {
	font-size: 35px;
	left: -8px;
	letter-spacing: 2.4px;
	top: -35px;
}

.p-shop__card-description-text {
	margin: 45px auto 0;
	max-width: 596px;
}

.p-shop__card-have-nice img {
	bottom: -43px;
	right: -72px;
	transform: scale(0.8);
}

.p-contact {
	padding-block: 130px;
}

.p-contact__inner {
	margin: 0 auto;
	max-width: 800px;
	padding-bottom: 71px;
}

.p-contact__top-text {
	padding-top: 31px;
}

.p-contact__form {
	padding-top: 48px;
}

.p-contact__form-items {
	margin: 0 auto;
	max-width: 520px;
}

.p-contact__form-label {
	font-size: 18px;
	gap: 16px;
}

.p-contact-control__input {
	text-align: center;
}

.p-contact__footer {
	padding-top: 32px;
}

.p-contact__checkbox-text::after {
	left: 8px;
}

.p-contact__checkbox-text {
	font-size: 18px;
	letter-spacing: 0.9px;
	line-height: 1.5;
	padding-left: 52px;
}

.p-contact__privacy-check {
	left: 10px;
}

.p-contact__submit {
	margin: 43px auto 0;
	max-width: 239px;
}

.u-pc-hidden {
	display: none;
}

.u-sp-hidden {
	display: block;
}

.u-padding__menu {
	padding-right: 0px !important;
}

.u-title__sub--privacy {
	font-size: 10px;
}

.u-title__main--privacy {
	font-size: 25px;
}

.u-title__main--contact {
	padding-bottom: 10px;
}

}

@media screen and (min-width: 950px) {

.c-menu__image--first {
	left: -308px;
	top: 50%;
	transform: translateY(-50%);
}

.c-menu__detail-inner {
	padding-left: 15px;
	padding-right: 15px;
}

.c-menu__detail-name {
	font-size: 30px;
}

.c-menu__detail-yen {
	font-size: 24px;
	letter-spacing: 2.4px;
}

.c-menu__detail-amount {
	font-size: 40px;
	letter-spacing: 4px;
}

.c-menu__detail-tax {
	font-size: 18px;
	letter-spacing: 1.8px;
	margin-right: 4px;
}

.c-menu__detail-nutrition {
	font-size: 18px;
}

.p-menu__insta-inner {
	padding-left: 15px;
	padding-right: 15px;
}

.p-shop__address-content {
	font-size: 18px;
	letter-spacing: 0.54px;
	line-height: 2;
}

.p-shop__info {
	font-size: 18px;
	letter-spacing: 0.54px;
	line-height: 1.9;
	padding-left: 0;
	padding-top: 17px;
}

.p-shop__card-have-nice img {
	bottom: -33px;
	right: -7px;
	transform: scale(1.11);
}

}

@media screen and (min-width: 1000px) {

.c-about {
	gap: 70px;
}

.c-about__text {
	padding-right: 163px;
}

.c-about__text--reverse {
	padding-left: 0;
	padding-right: 124px;
}

.c-menu__image--secondary {
	top: -358px;
}

.c-menu__image--secondary img {
	max-width: 416px;
}

.c-menu__image--first {
	left: -405px;
	top: 47%;
}

.c-menu__image--first img {
	max-width: 452px;
}

.c-bg-parallax img {
	-o-object-position: 7px -280px;
	object-position: 7px -280px;
	transform: scale(1.03, 1);
}

.p-menu {
	padding-block: 72px;
	padding-inline: 72px;
}

.p-menu__container {
	margin: 0 auto;
	max-width: 1080px;
	padding-left: 419px;
	padding-top: 73px;
}

.p-menu__container--secondary {
	flex-direction: row;
	gap: 33px;
	justify-content: center;
	padding-top: 444px;
}

.p-shop__description {
	padding-left: 80px;
}

.p-shop__name-jp {
	display: inline;
	font-feature-settings: "palt";
	font-size: 18px;
	letter-spacing: 0.54px;
	letter-spacing: 2px;
}

.p-shop__card-dear {
	font-size: 40px;
	left: -5px;
	top: -19px;
}

.u-padding__menu {
	padding-right: 120px !important;
	padding-top: 31px;
}

}

@media screen and (min-width: 1300px) {

.c-menu__image--first {
	left: -362px;
	top: 47%;
}

.c-menu__detail-inner {
	padding-bottom: 29px;
	padding-left: 28px;
	padding-right: 27px;
}

.c-menu__detail-nutrition {
	font-size: 24px;
	gap: 21px;
	padding-top: 20px;
}

.c-bg-parallax img {
	-o-object-position: 7px -413px;
	object-position: 7px -413px;
	transform: scale(1.03, 1);
}

.c-bg-parallax__secondary img {
	-o-object-position: -7px -229px;
	object-position: -7px -229px;
	transform: scale(1.03);
}

.p-mv__image img {
	max-width: 1080px;
}

.p-mv__description {
	left: 111px;
	top: 84px;
}

.p-mv__text-main {
	font-size: 100px;
	line-height: 100px;
}

.p-mv__text-sub {
	bottom: 169px;
	font-size: 32px;
	left: 132px;
	letter-spacing: 1.6px;
}

.p-mv__text-sub__secondary {
	bottom: 84px;
	font-size: 32px;
	left: 114px;
	letter-spacing: 3.9px;
	padding-bottom: 9px;
	padding-left: 13px;
	padding-right: 21px;
	padding-top: 9px;
}

.p-menu__insta-inner {
	padding-bottom: 21px;
	padding-left: 28px;
	padding-right: 27px;
}

.p-shop__description {
	padding-left: 177px;
}

.p-shop__card-stamp img {
	flex-shrink: 0;
	height: 240px;
	left: -131px;
	top: -103px;
	width: 288px;
}

.p-shop__card-dear {
	font-size: 48px;
	left: 9px;
}

.p-modal {
	max-width: 1140px;
}

.p-modal__head {
	min-width: 1140px;
}

}

@media screen and (max-width: 374px) {

.c-about__title {
	font-size: 18px;
}

.c-about__description {
	font-size: 13px;
}

}

