@use "../global/" as global;

.l-header {
  z-index: 500;
  position: fixed;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: global.$base-color;

  @include global.mq("md"){
    padding-bottom: 12px;
  }
}

.l-header__inner {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include global.mq("md") {
    padding-left: 33px;
    padding-right: 71px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.l-header__logo {
  img {
    width: 55px;
    height: 29.397px;
    flex-shrink: 0;

    @include global.mq("md") {
      width: 117.871px;
      height: 63px;
      flex-shrink: 0;
    }
  }
}

.l-header__nav {
  letter-spacing: 0.42px;
  font-family: global.$ff-deco;
  font-size: 14px;
  color: global.$text-color-l;
  display: flex;
  flex-direction: row;
  gap: 20px;

  @include global.mq("md") {
    font-size: 18px;
    gap: 41px;
  }
}

.l-header__nav-list{
  a{
  padding-block: 20px;
  }
}